venv/
__pycache__/
models/
ignore/
reports/
reports_old/
logs/
*.log
notes
interesting/
broken/
plugins/old/
results/
redteam-findings-dataset/
notebook/finding/
myteamname*
notebook/current_findings/these_are_my_results_right_now
data/prompt_sets/findings_1_prompt.txt
